<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
#aside {
	width: 200px;
	height: 3000px;
	position: fixed;
	background: #5BA8D8;
	overflow: hidden;
	float: left;
}
</style>

</head>
<body>
	<div class="row">
		<div class="col-sm-3">
			<div id="aside" th:include="/include/menu::sidemenu"></div>
		</div>
		<div class="col-sm-6" align="center">
			<h1>수입/지출 입력</h1>
			<form id="form" method="post" action="/addCash" >
				<table class="table table-bordered" >
					<tr>
						<td>날짜:</td>
						<td><input type="date" name="cashDate"></td>
					</tr>
					<tr>
						<td>카테고리:</td>
						<td>	
							<select name="categoryName">
								<option th:each="ca : ${categoryList}" th:text="${ca.categoryName}" th:value="${ca.categoryName}"></option>
							</select>
						</td>										
					</tr>
					<tr>
						<td>수입/지출을 선택하세요:</td>
						<td>
							<select name="cashKind">
								<option value="수입">수입</option>
								<option value="지출">지출</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>금액</td>
						<td><input type="text" name="cashPrice"></td>
					</tr>
					<tr>
						<td>장소:</td>
						<td><input type="text" name="cashPlace"></td>
					</tr>
					<tr>
						<td>메모:</td>
						<td> <input type="text" name="cashMemo"></td>
					</tr>
				</table>
				<div align="center">
					<button type="submit" class="btn btn-primary">추가하기</button>
				</div>
			</form>
		</div>
		<div class="col-sm-3"></div>	
	</div>
</body>
</html>