<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style >  
 #aside {
     width: 200px;
     height: 3000px;
     position: fixed;
     background: #5BA8D8;
     overflow: hidden;
     float: left;
 }
</style>	
</head>
<body>
	<div class="row">
		<div class="col-sm-2" >
			<!-- /include폴더안에 있는 menu 파일 중에  th:fragment="sidemenu"인 div단위 내용 가져옴  -->
			<div id="aside" th:include="/include/menu::sidemenu"></div>
		</div>
		<div  class="col-sm-9"  align="center">
			<!--<jsp:include page=""> -->			
				<h1>2020년 가계부</h1>
				<h3 th:text="${day}"></h3>			
				<div>
					<!--  이전은 왼쪽에 위치, 다음은 오른쪽에 위치  -->			
					<a style="float: left;" class="btn btn-primary"  th:href="@{/getCashListByDate(day=${day.plusDays(-1)})}">이전</a>
					<a  style="float: right;" class="btn btn-primary" th:href="@{/getCashListByDate(day=${day.plusDays(1)})}">다음</a>
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<td>&nbsp;</td>
							<td>카테고리</td>
							<td>수입</td>
							<td>지출</td>
							<td>장소</td>
							<td>메모</td>
							<td>삭제</td>
							<td>수정</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cash, index:${cashList}">
							<td th:text="${index.index}+1"></td>
							<td th:text="${cash.categoryName}"></td>
		
							<!-- 타임리프 if~else문 : if/unless -->
							<td th:if="${cash.cashKind} == '수입'"
								th:text="${'+'+ cash.cashPrice}"></td>
							<td th:unless="${cash.cashKind} == '수입'"></td>
						
							<!-- 삼항연산자 : 조건 ? 참값 : 거짓값  -->
							<td th:text="${cash.cashKind} == '지출' ? ${'-' + cash.cashPrice} : ''"></td>					
		
							<td th:text="${cash.cashPlace}"></td>
							<td th:text="${cash.cashMemo}"></td>
							<td><a th:href="@{/removeCash(cashNo=${cash.CashNo})}">삭제</a></td>
							<td><a th:href="@{/modifyCash(cashNo=${cash.CashNo})}">수정</a></td>
						</tr>
					</tbody>
				</table>
				<div>(수입+지출)합계:<span th:text="${#numbers.formatInteger(cashKindSum,0,'COMMA')}"></span>
					<a style="float: left;" class="btn btn-primary" th:href="@{/addCash}">입력하기</a> 
				</div>	
			</div>
			<div class="col-sm-1" ></div>
	 </div>
</body>
</html>

