<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script >
let helperInit = function() {
	$('#idHelper').text("");
	$('#pwHelper').text("");
}

$(document).ready(function() {
	$('#btn').click(function() {
		//유효성 검사 코드 구현 
		if ($('#memberId').val().length === 0) { //입력값의 길이가 0인경우 "아이디를  입력해주세요"
			helperInit();
			$('#idHelper').text("아이디를  입력해주세요");
			$('#memberId').focus();//커서 깜빡이 
			clear();
			return;
		} else if ($('#memberPw').val().length === 0) {//입력값의 길이가 0인경우 "비밀번호  입력해주세요"
			helperInit();
			$('#pwHelper').text("비밀번호  입력해주세요");
			$('#memberPw').focus();
			clear();
			return;
			//if 문에 걸리면 밑에 코드 진행 안하고 return 종결  
		}
		$('#loginForm').submit();
	});
});
</script>	
</head>
<body>
<div class="container">
	<div align="center">
		<h1> 로그인 </h1>	
		<form id="loginForm" method="post" th:action="@{/login}">
			<div>
				member_id:
				<input type="text" id="memberId" name="memberId" value="user3">
				<span id="idHelper"></span>
			</div>
			<div>
				member_pw:
				<input type="password" id="memberPw" name="memberPw" value="1234">
				<span id="pwHelper"></span>
			</div>
			<div>
				<span th:text="${msg}"></span>
			</div>
			<div>
				<a th:href="@{/findMemberId}">아이디가 기억나지 않아요</a><!-- 이메일 입력하면: 이메일에  아이디를 보내줌  -->
				<!--  이름 메일 전화번호: 아이디  -->
				<a  th:href="@{/findMemberPw}"> 비밀번호가 기억나지 않아요 </a> <!-- 아이디,이메일 같이 입력 하면: 관리자가 변경한 비밀번호 보내줌 -->
				<!--  아이디, 이메일 : 이메일로 관리자가 변경한 비밀번호 보냄  -->
			</div>
			<div>
				<button type="button" id="btn">로그인 </button>
			</div>		
		</form>
	</div>
</div>
</body>
</html>