<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script >
let helperInit = function(){
	$('#pwHelper').text("");
}
$(document).ready(function() { 
	$('#btn').click(function() {
		if($('#memberPw').val() != $('#memberPw2').val()){
			$('#pwHelper').text("pw를 확인하세요 ");
			$('#memberPw').focus();	
			return; 
		}else if($('#memberPw').val().length < 4){	
			helperInit();
			$('#pwHelper').text("pw 4자 이상 입력");
			$('#memberPw').focus();	
			return; 
		}	
		$('#idForm').submit();
	});		
});

</script>

<style >  
 #aside {
     width: 200px;
     height: 3000px;
     position: fixed;
     background: #5BA8D8;
     overflow: hidden;
     float: left;
 }
</style>	
	
</head>
<body>
	<div class="row">
		<div class="col-sm-4">
			<div id="aside"  th:include="/include/menu::sidemenu"></div>
		</div>
		<div class="col-sm-5" >
			<div align="center">
				<h1> 회원정보 수정</h1>
				<form id="idForm" method="post" th:action="@{/modifyMember}" enctype="multipart/form-data">
					<table class="table table-bordered">
					<tr>
						<td colspan="2">
							사진: 								
							<input  type="file" name="memberPic" id="pic" >
							<span th:if="${#httpServletRequest.getParameter('imgMsg')!=null}"> .jpg, .png, .gif 파일만 첨부 가능 합니다</span>
						</td>				
					</tr>			
					<tr>
						<td>아이디:</td>
						<td>
							<input type="text" readonly="readonly" th:value="${member.memberId}" name="memberId">
						</td>
					</tr>
					<tr>
						<td>사용자이름:</td> 
						<td>
							<input type="text" th:value="${member.memberName}"  name="memberName">
						</td>			
					</tr>
					<tr>
						<td>주소:</td> 
						<td>
							<input type="text" th:value="${member.memberAddr}" name="memberAddr">
						</td>
					</tr>
					<tr>
						<td>전화번호 :</td>
						<td>
							<input type="text"  th:value="${member.memberPhone}"  name="memberPhone" >
						</td>			
					</tr>
					<tr>
						 <td>이메일 :</td>
						 <td>
						  <input type="text" th:value="${member.memberEmail}"  name="memberEmail" >
						 </td>		
					</tr>
					<tr>		
						<td>비밀번호:</td>
						<td><input type="password"  name="memberPw" id="memberPw"></td>
					</tr>			
					<tr>	
						<td>비밀번호 확인:</td>
						<td> <input type="password"  id="memberPw2">		
						<span id="pwHelper"></span>	</td>
					</tr>						
					<tr> 
						<td colspan="2"><button  type="button" id="btn" class="btn btn-primary">수정완료</button></td>
					</tr>
					
					</table>	
				</form>	
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
</body>
</html>