<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.CashMapper">
	<!--수정액션(Cash) -->
	<update id="updateCashhOne" parameterType="com.gdu.cashbook.vo.Cash" >
		 UPDATE cashbook_cash 
		 SET cash_date = #{cashDate},
			 cash_kind = #{cashKind},
			 category_name = #{categoryName},
			 cash_price = #{cashPrice},
			 cash_place = #{cashPlace},
			 cash_memo = #{cashMemo}
		WHERE cash_no= #{cashNo}		
	</update>
	
	<!-- 수정폼(수정 클릭 내용 가져오기 )-->
	<select id="selectCashOne" parameterType="int" resultType="com.gdu.cashbook.vo.Cash">
	  	SELECT 
	  		cash_no as cashNo, <!-- 수정 삭제하려고 넘버값 받음 -->
			cash_kind as cashKind,
			category_name as categoryName,
			cash_price as cashPrice,
			cash_place as cashPlace,
			cash_memo as cashMemo,
			cash_date as cashDate,
			member_id as memberId	  	
	  	FROM cashbook_cash
	  	WHERE cash_no= #{cashNo}
	</select>
	
	<!-- Cash add 일자별 수입/지출 입력하기  -->
	<insert id="insertCash" parameterType="com.gdu.cashbook.vo.Cash">
		INSERT into cashbook_cash(
			cash_no,
			member_id,
			cash_date,
			cash_kind,
			category_name,
			cash_price,
			cash_place,
			cash_memo			
		)VALUES(
			#{cashNo},
			#{memberId},
			#{cashDate},
			#{cashKind},
			#{categoryName},
			#{cashPrice},
			#{cashPlace},
			#{cashMemo}		
		)	
	</insert>	
	<!-- 수입.지출 카테고리 리스트(선택창) -->
	<select id="selectCategoryList" resultType="com.gdu.cashbook.vo.Cash">
		SELECT 
			category_name as categoryName
		FROM cashbook_category
	</select>

	<select id="selectDayAndPriceList"
			parameterType="java.util.Map"
			resultType="com.gdu.cashbook.vo.DayAndPrice">
		SELECT DAY(cash_date) as day, 
			   SUM(CASE WHEN cash_kind='수입' THEN cash_price
			   		WHEN cash_kind='지출' THEN -cash_price END) as price
		FROM cashbook_cash
		WHERE member_id = #{memberId} 
		AND YEAR(cash_date) = #{year}
		AND MONTH(cash_date) = #{month}
		GROUP BY DAY(cash_date)<!-- 데이터를 합침 -->			
	</select>

	<!--삭제 -->
	<delete id="delectCash" parameterType="com.gdu.cashbook.vo.Cash"  >
		DELETE FROM cashbook_cash
		WHERE cash_no= #{cashNo}	
	</delete>
	
	<!--합계  -->
	<select id="selectCashKindSum" 
			parameterType="com.gdu.cashbook.vo.Cash" 
			resultType="int">
		<!--SELECT 
			(SELECT SUM(cash_price) FROM cash WHERE member_id=#{memberId} AND cash_kind='수입' AND cash_date=#{cashDate})
			-
			(SELECT SUM(cash_price) FROM cash WHERE member_id=#{memberId} AND cash_kind='지출' AND cash_date=#{cashDate})
		FROM dual;	 -->			
		
	  SELECT
         (SELECT 
            IFNULL(SUM(cash_price), 0)   <!-- IFNULL은 해당 필드의 값이 NULL을 반환할때 다른 값으로 출력할 수 있도록 하는 함수이다.  -->
         FROM cashbook_cash
         WHERE member_id = #{memberId} AND cash_kind = '수입' AND cash_date = #{cashDate})
         -
         (SELECT 
            IFNULL(SUM(cash_price), 0)
         FROM cashbook_cash
         WHERE member_id = #{memberId} AND cash_kind = '지출' AND cash_date = #{cashDate})
      FROM dual; 
	</select>

	<!-- 리스트 -->
	<select id="selectCashListByDate"
			parameterType="com.gdu.cashbook.vo.Cash"
			resultType="com.gdu.cashbook.vo.Cash">
		SELECT
			cash_no as cashNo, <!-- 수정 삭제하려고 넘버값 받음 -->
			cash_kind as cashKind,
			category_name as categoryName,
			cash_price as cashPrice,
			cash_place as cashPlace,
			cash_memo as cashMemo
		FROM  cashbook_cash 
		WHERE member_id = #{memberId}
		AND cash_date = #{cashDate}				
		ORDER BY cash_no ASC
	</select>
</mapper>