<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.MemberMapper">
	<!-- 디버깅,주석, 커밋 메세지  -->
	<select id="selectMemberPic"
			parameterType="String"
			resultType="String">
		SELECT member_pic
		FROM member
		WHERE member_id=#{memberId}	
	</select>
	
	
	
	<!-- 
	비밀번호 찾기 순서 	
	1.사용자 입력한  id의  email일치하면 pw변경(랜덤문자열) update 
	2.2번에서 입력한 pw를 메일로 전송 
	 -->
	<update id="updateMemberPw"
			parameterType="com.gdu.cashbook.vo.Member">
		UPDATE member 
		SET	member_pw = PASSWORD(#{memberPw})
		WHERE member_id = #{memberId}
		AND member_email = #{memberEmail}
	</update>
		 
	<!-- 아이디찾기 -->
	<select id="selectMemberIdByMember" 
			parameterType="com.gdu.cashbook.vo.Member"
	    	resultType="String">
		SELECT 
			CONCAT(SUBSTRING(member_id,1,3),'****')
		FROM member 
		WHERE member_name= #{memberName}
		AND member_phone = #{memberPhone}
		AND member_email= #{memberEmail} 
				
		<!--  앞에 세자만 보이게 할거임 , 디비에서 세자리만 가져오기 -->
	</select>

	<!--  아직 수정중임  -->
	<select id="" parameterType="String" resultType="String">
		SELECT
			member_pw as memberPw
		FROM member
		WHERE member_pw = PASSWORD(#{memberPw})
	</select>
	
	
	<!-- 회원정보수정 -->
	<update id="updateMember" parameterType="com.gdu.cashbook.vo.Member">
		UPDATE 	member
		SET member_name = #{memberName},
			member_addr = #{memberAddr},
			member_phone = #{memberPhone},
			member_email = #{memberEmail},	
			member_pw = PASSWORD(#{memberPw}),
			member_pic= #{memberPic}  
		WHERE  member_id = #{memberId}		
	</update>

	<!-- 회원탈퇴 -->
	<delete id ="deleteMember" 	parameterType="com.gdu.cashbook.vo.LoginMember"	>
		DELETE FROM member
		WHERE member_id =#{memberId}
		AND member_pw= PASSWORD(#{memberPw})	
	</delete>

	<select id = "selectMemberOne" 
			parameterType="com.gdu.cashbook.vo.LoginMember"
			resultType="com.gdu.cashbook.vo.Member">
		SELECT
			member_id as memberId,			
			member_name as memberName, 
			member_pw as memberPw,
			member_addr as memberAddr,
			member_phone as memberPhone,
			member_email as memberEmail,
			member_pic as memberPic
		FROM member
		WHERE member_id =#{memberId}	 
	
	</select>


	<!--  아이디 중복 체크 값이 있으면  아이디 사용못하고 값이 없으면 아이디 사용할 수 있음 -->
	<select id="selectMemberId"  
			parameterType="String"
			resultType="String">
		SELECT 
			member_id <!-- 아디값 있으면  못씀 -->
		FROM (
		 SELECT member_id FROM member <!-- 회원가입된 아이디랑, 삭제시 디비에 남는아디니는 중복체크할때 막혀야됨 -->
		 UNION
		 SELECT member_id FROM memberid	<!--  -->
		)t
		WHERE member_id = #{memberIdCheck}		
	</select>
	
	<!-- 로그인  -->
	<select id="selectLoginMember" 
			parameterType="com.gdu.cashbook.vo.LoginMember" 
			resultType="com.gdu.cashbook.vo.LoginMember"> 
		SELECT 
			member_id as memberId,
			member_pw as memberPw
		FROM member
		WHERE member_id = #{memberId}
		AND member_pw=PASSWORD(#{memberPw}) 	
	</select>

	<!-- 회원가입, 정보 입력하기 -->
	<insert id="insertMember" parameterType="com.gdu.cashbook.vo.Member">
		INSERT INTO member(
			member_id,
			member_pw,
			member_name,
			member_addr,
			member_phone,
			member_email,
			member_pic
		)VALUES(
			#{memberId},<!--$는 정적,  #은 동적 개념, 들어오는 값 순간순간 변할수있다 -->
			PASSWORD(#{memberPw}), <!-- 패스워드를 암호화해서 디비에 넣어줌  -->
			#{memberName},
			#{memberAddr},
			#{memberPhone},
			#{memberEmail},
			#{memberPic}
		)
	</insert>
</mapper>